# Build folder
src/build/*
!src/build/.gitkeep

# MacOS
.DS_Store

*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll
*.a
*.lib

# Executables
*.exe
*.out

### IDE
.idea/
.vscode/

### CMake template
CMakeCache.txt
CMakeFiles

### Python
__pycache__/
*.pyc
